n8n-workflows/feedback-widget.json
{
  "name": "QuotaHit - Feedback Widget Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "feedback-widget",
        "options": {
          "responseMode": "responseNode"
        }
      },
      "name": "Feedback Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "webhookId": "feedback-widget",
      "id": "webhook-feedback-widget"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-feedback",
              "leftValue": "={{ $json.body.type }}",
              "rightValue": "feedback",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Is Feedback?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [480, 400],
      "id": "if-feedback-check"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const body = $input.first().json.body;\n\nconst now = new Date();\nconst dateStr = now.toLocaleDateString('en-US', {\n  weekday: 'long',\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric'\n});\nconst timeStr = now.toLocaleTimeString('en-US', {\n  hour: '2-digit',\n  minute: '2-digit',\n  hour12: true\n});\n\n// Map category to label\nconst labelMap = {\n  'bug': 'BUG',\n  'feature_request': 'FEATURE REQUEST',\n  'feedback': 'FEEDBACK',\n  'improvement': 'IMPROVEMENT'\n};\nconst label = labelMap[body.category] || body.category.toUpperCase();\n\n// Star rating\nconst rating = body.rating || 0;\nconst stars = '\\u2B50'.repeat(rating) + '\\u2606'.repeat(5 - rating);\n\n// Build Telegram message (Markdown)\nlet telegram = `*\\\\[${label}\\\\]* \\u2014 QuotaHit Feedback\\n\\n`;\ntelegram += `*Rating:* ${stars} (${rating}/5)\\n`;\ntelegram += `*From:* ${body.name || 'Anonymous'} (${body.email || 'No email'})\\n`;\ntelegram += `*Page:* ${body.pageUrl || 'Unknown'}\\n\\n`;\ntelegram += `*Feedback:*\\n${body.primaryText || '(empty)'}\\n`;\nif (body.secondaryText) {\n  telegram += `\\n*Details:*\\n${body.secondaryText}\\n`;\n}\nif (body.tertiaryText) {\n  telegram += `\\n*Additional:*\\n${body.tertiaryText}\\n`;\n}\ntelegram += `\\n\\u23F0 ${dateStr} at ${timeStr}`;\n\n// Build Gmail HTML\nlet emailHtml = `<div style=\"font-family: Arial, sans-serif; max-width: 640px; margin: 0 auto; padding: 20px;\">`;\nemailHtml += `<div style=\"background: ${body.category === 'bug' ? '#fef2f2' : body.category === 'feature_request' ? '#f0f9ff' : '#f0fdf4'}; border-left: 4px solid ${body.category === 'bug' ? '#ef4444' : body.category === 'feature_request' ? '#3b82f6' : '#22c55e'}; padding: 16px; border-radius: 4px; margin-bottom: 20px;\">`;\nemailHtml += `<strong style=\"font-size: 16px;\">[${label}]</strong> &mdash; Rating: ${stars} (${rating}/5)`;\nemailHtml += `</div>`;\nemailHtml += `<table style=\"width: 100%; border-collapse: collapse; margin-bottom: 20px;\">`;\nemailHtml += `<tr><td style=\"padding: 8px; font-weight: bold; width: 120px;\">From:</td><td style=\"padding: 8px;\">${body.name || 'Anonymous'} (${body.email || 'No email'})</td></tr>`;\nemailHtml += `<tr><td style=\"padding: 8px; font-weight: bold;\">Category:</td><td style=\"padding: 8px;\">${label}</td></tr>`;\nemailHtml += `<tr><td style=\"padding: 8px; font-weight: bold;\">Page:</td><td style=\"padding: 8px;\"><a href=\"${body.pageUrl || '#'}\">${body.pageUrl || 'Unknown'}</a></td></tr>`;\nemailHtml += `<tr><td style=\"padding: 8px; font-weight: bold;\">Timestamp:</td><td style=\"padding: 8px;\">${dateStr} at ${timeStr}</td></tr>`;\nemailHtml += `</table>`;\nemailHtml += `<h3 style=\"margin-top: 20px;\">Feedback</h3>`;\nemailHtml += `<p style=\"background: #f9fafb; padding: 12px; border-radius: 6px;\">${body.primaryText || '(empty)'}</p>`;\nif (body.secondaryText) {\n  emailHtml += `<h3>Additional Details</h3>`;\n  emailHtml += `<p style=\"background: #f9fafb; padding: 12px; border-radius: 6px;\">${body.secondaryText}</p>`;\n}\nif (body.tertiaryText) {\n  emailHtml += `<h3>Other Notes</h3>`;\n  emailHtml += `<p style=\"background: #f9fafb; padding: 12px; border-radius: 6px;\">${body.tertiaryText}</p>`;\n}\nif (body.screenshotDataUrl) {\n  emailHtml += `<p style=\"color: #6b7280; font-size: 13px; margin-top: 12px;\">\\u{1F4F8} Screenshot was attached (base64 data received but not embedded)</p>`;\n}\nemailHtml += `</div>`;\n\n// Gmail subject\nconst emailSubject = `[${label}] Feedback from ${body.name || 'Anonymous'} \\u2014 QuotaHit`;\n\n// Google Sheets row data\nconst sheetRow = {\n  Date: `${dateStr} at ${timeStr}`,\n  Category: label,\n  Rating: rating,\n  'Primary Text': body.primaryText || '',\n  'Secondary Text': body.secondaryText || '',\n  Email: body.email || '',\n  Name: body.name || '',\n  'Page URL': body.pageUrl || '',\n  'User Agent': body.userAgent || ''\n};\n\nreturn [{\n  json: {\n    telegramMessage: telegram,\n    emailSubject: emailSubject,\n    emailHtml: emailHtml,\n    sheetRow: sheetRow,\n    category: body.category,\n    label: label\n  }\n}];"
      },
      "name": "Format Feedback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [740, 280],
      "id": "code-format-feedback"
    },
    {
      "parameters": {
        "chatId": "637313836",
        "text": "={{ $json.telegramMessage }}",
        "additionalFields": {
          "parse_mode": "MarkdownV2"
        }
      },
      "name": "Telegram Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1000, 160],
      "id": "telegram-notify",
      "credentials": {
        "telegramApi": {
          "id": "W6XV6RQORTB3eBDg",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "aiwithdhruv@gmail.com",
        "subject": "={{ $json.emailSubject }}",
        "message": "={{ $json.emailHtml }}",
        "options": {}
      },
      "name": "Gmail Notification",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [1000, 320],
      "id": "gmail-notify",
      "credentials": {
        "gmailOAuth2": {
          "id": "gPGYzjuIbblOf3E1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1RMV6PIO3vCEuBu1Z6eNxEaXnUY7nzoKsvLSKZGhXtq0"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Feedback"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "name": "Log Feedback to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1000, 480],
      "id": "sheets-feedback",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WbzVyGwbDVzvcV25",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const row = $('Format Feedback').first().json.sheetRow;\nreturn [{ json: row }];"
      },
      "name": "Prepare Sheet Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 480],
      "id": "code-prepare-sheet-row"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true }",
        "options": {
          "responseCode": 200
        }
      },
      "name": "Respond Success (Feedback)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1280, 320],
      "id": "respond-feedback"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const body = $input.first().json.body;\n\nconst now = new Date();\nconst dateStr = now.toLocaleDateString('en-US', {\n  weekday: 'long',\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric'\n});\nconst timeStr = now.toLocaleTimeString('en-US', {\n  hour: '2-digit',\n  minute: '2-digit',\n  hour12: true\n});\n\nconst actionEmoji = body.action === 'upvote' ? '\\u{1F44D}' : '\\u{1F44E}';\n\nreturn [{\n  json: {\n    Date: `${dateStr} at ${timeStr}`,\n    'Suggestion ID': body.suggestionId || '',\n    'Suggestion Title': body.suggestionTitle || '',\n    Action: body.action || ''\n  }\n}];"
      },
      "name": "Format Vote",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [740, 560],
      "id": "code-format-vote"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1RMV6PIO3vCEuBu1Z6eNxEaXnUY7nzoKsvLSKZGhXtq0"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Suggestion Votes"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "name": "Log Vote to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1000, 560],
      "id": "sheets-vote",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WbzVyGwbDVzvcV25",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true }",
        "options": {
          "responseCode": 200
        }
      },
      "name": "Respond Success (Vote)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1280, 560],
      "id": "respond-vote"
    },
    {
      "parameters": {
        "content": "## QuotaHit — Feedback Widget Handler\n\n**Webhook URL:** `https://n8n.aiwithdhruv.cloud/webhook/feedback-widget`\n\n**Handles 2 payload types:**\n\n1. **Feedback** (`type: \"feedback\"`):\n   - Formats & sends Telegram notification\n   - Sends Gmail email to aiwithdhruv@gmail.com\n   - Logs to Google Sheets `Feedback` tab\n\n2. **Vote** (`type: \"vote\"`):\n   - Logs upvote/downvote to Google Sheets `Suggestion Votes` tab\n\n**Setup:**\n1. Create `Feedback` and `Suggestion Votes` tabs in the `QuotaHit` spreadsheet\n2. Connect Telegram, Gmail, and Google Sheets credentials\n3. Activate the workflow",
        "height": 380,
        "width": 460,
        "color": 5
      },
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [180, -80],
      "id": "sticky-note-info"
    }
  ],
  "connections": {
    "Feedback Webhook": {
      "main": [
        [
          {
            "node": "Is Feedback?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Feedback?": {
      "main": [
        [
          {
            "node": "Format Feedback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Vote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Feedback": {
      "main": [
        [
          {
            "node": "Telegram Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Sheet Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Notification": {
      "main": [
        [
          {
            "node": "Respond Success (Feedback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Notification": {
      "main": [
        [
          {
            "node": "Respond Success (Feedback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sheet Row": {
      "main": [
        [
          {
            "node": "Log Feedback to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Feedback to Sheet": {
      "main": [
        [
          {
            "node": "Respond Success (Feedback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Vote": {
      "main": [
        [
          {
            "node": "Log Vote to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Vote to Sheet": {
      "main": [
        [
          {
            "node": "Respond Success (Vote)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}